*{
    margin: 0px;
    padding: 0px;
    color: rgb(121, 12, 140);
    background:white
}
h1{
   text-align: center;
}
.img1{
    width: 30%;
    height: 200px;
    border-radius: 5px;
    margin-top: 10px;
    

}
#img{
    display: flex;
    justify-content: center;
}
.img2{
    width: 30%;
    height: 410px;
    border-radius: 5px;
    margin-top: 3px;
   
}
#disp{
    display: flex;
    justify-content: center;
}
#inp1{
    padding: 5px;
    font-size: 15px;
    width:115px;
    margin: 2px;
    border-radius: 5px;
    background: rgb(223, 215, 227);
    font-weight: bold;
    font-style: normal;
    color: rgb(89, 14, 159);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center;/ */
}
#button{
   padding: 7px;
   border-radius: 5px;
   font-size: 15px;
   background: rgb(129, 4, 201);
   color: white;
   cursor: pointer;
   height: 35px;
   width: 50px;
   margin-left: 5px;
}
input::placeholder{
  color: rgb(119, 15, 184);
}
.inpbtn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-right: 210px;
}
#hidden1 {
    display: none;
}
#button:hover{
    background-color: blueviolet;
}
#hidden2 {
    display: none;
}
#pending{
    display:none;
}